<div style="text-align:center">
  <h1>
    <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200"
      (click)="router.navigate(['/mainMenu']);">
  </h1>
</div>

<div class="centered">
  <ul id='friend-list'>
    <li class='friend'>
      <div class='name'>
        Fulanito
      </div>
      <div class='challenge'>
        ♟️
      </div>
      <div class='chat' (click)="router.navigate(['/chat']);">
        💬
      </div>
    </li>
    <li class='friend'>
      <div class='name'>
        Menganito
      </div>
      <div class='challenge'>
        ♟️
      </div>
      <div class='chat' (click)="router.navigate(['/chat']);">
        💬
      </div>
    </li>
  </ul>
</div>