<div style="text-align:center">
    <h1>
      <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height = "200" (click)="router.navigate(['/mainMenu']);">
    </h1>
  </div>

  <ul class="custom-form">
    <h1>Movimientos pendientes:</h1>
    <li  class='match' *ngFor="let match of idList">
      <div class='name'>
        Vs. {{matchList[match]}}
      </div>
      <div class="play" (click)="playMove(match)">
        ♟️
      </div>
    </li>
  </ul>

  <ul class="custom-form">
    <h1>Esperando al rival:</h1>
    <li  class='match' *ngFor="let match of idList">
      <div class='name'>
        Vs. {{matchList[match]}}
      </div>
      <div class="play" (click)="playMove(match)">
        ♟️
      </div>
    </li>
  </ul>