<div style="text-align:center">
    <h1>
      <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height = "200" (click)="router.navigate(['/mainMenu']);">
    </h1>
  </div>

  <div class="centered">
    <ul id='match-list'>
      <li class='match'>
        <div class='opponent'>
          vs. Fulanito
        </div>
        <div class='playMove'>
          ♟️
        </div>
      </li>
      <li class='match'>
        <div class='opponent'>
          vs. Menganito
        </div>
        <div class='playMove'>
          ♟️
        </div>
      </li>
    </ul>
  </div>