<div style="text-align:center">
    <h1>
        <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200" (click)="router.navigate(['/mainMenu']);">
    </h1>
</div>

<div class="centered" (click)="router.navigate(['/tablero']);">
    <button class="a">
        <span>Jugar</span>
    </button>
</div>

<div class="centered">
    <button class="a" (click)="router.navigate(['/matchList']);">
        <span>Partidas</span>
    </button>
</div>

<div class="centered">
    <button class="b" (click)="router.navigate(['/friendList']);">
        <span>Amigos</span>
    </button>
    <button class="b" (click)="router.navigate(['/shop']);">
        <span>Tienda</span>
    </button>
</div>

<div class="centered">
    <button class="b" (click)="router.navigate(['/profile']);">
        <span>Perfil</span>
    </button>
    <button class="b" (click)="logOut()">
        <span>Logout</span>
    </button>
</div>