<div style="text-align:center">
    <h1>
        <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200">
    </h1>
</div>

<div class="centered">
    <button class="a">
        <span>Jugar</span>
    </button>
</div>

<div class="centered">
    <button class="a">
        <span>Partidas</span>
    </button>
</div>

<div class="centered">
    <button class="b">
        <span>Amigos</span>
    </button>
    <button class="b">
        <span>Tienda</span>
    </button>
</div>