<div style="text-align:center">
    <h1>
        <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200" (click)="router.navigate(['/mainMenu']);">
    </h1>
</div>

<div class="centered">
    <button class="buttonSlideA" (click)="startLocalGame()">
        <span>Local</span>
    </button>
    <h2 style="color:white" size=1000> Juega al ajedrez Clásico con un amigo en el mismo dispositivo</h2>
</div>

<div class="centered">
    <button class="buttonSlideA" (click)="startAsyncGame()">
        <span>Normal</span>
    </button>
    <h2 style="color:white" size=1000> Juega una partida de ajedrez de forma asíncrona con un jugador de tu nivel </h2>
    <h2 style="color:white" size=1000> ¡Tendrás todo el tiempo del mundo para realizar tu jugada! </h2>
</div>

<div class="centered">
    <button class="buttonSlideA" (click)="startSyncGame()">
        <span>Competitivo</span>
    </button>
    <h2 style="color:white" size=1000> Juega una partida de ajedrez de forma síncrona con un jugador de tu nivel </h2>
    <h2 style="color:white" size=1000> El tiempo corre, y el ganador se hará con la recompensa </h2>
</div>
