/* Board */
#board {
  width: 800px;
  height: 800px;
  background-color: #3e3754;
}

.square{
  width: 80px;
  height: 80px;
  float:left;
  font-size: 3em;
  text-align: center;
}

.white_square {
    background-color: #efefef;
    padding-top: 10px;
    
}

.black_square {
  background-color: #888;
  padding-top: 10px;
}

.blue_square {
  background-color: rgb(76, 118, 196);
  padding-top: 10px;
}

.side_panel {
  width: 800px;
  height: 800px;
  background-color: #3e3754;
  text-align:center;
}

.inline {
  width: 100%;
  height: auto;
  background-color: #3e3754;
  display: flex;
}

.black_cemetery {
  width: 800px;
  height: 60px;
  background-color: black;
  font-size: 50px;
  color: white;
}

.white_cemetery {
  width: 800px;
  height: 60px;
  background-color: white;
  font-size: 50px;
  color: black;
<<<<<<< HEAD
  left:0px; /*A la derecha deje un espacio de 0px*/
  right:0px; /*A la izquierda deje un espacio de 0px*/
  bottom:0px; /*Abajo deje un espacio de 0px*/
  height:50px; /*alto del div*/
=======
>>>>>>> parent of ff806f5 (Act: main)
}

.timer {
  font-size: 90px;
}

.piece {
  cursor: pointer;
<<<<<<< HEAD
}

=======
}
>>>>>>> parent of ff806f5 (Act: main)
