<div style="text-align:center">
  <h1>
    <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200"
      (click)="router.navigate(['/mainMenu']);">
  </h1>
</div>

  <div class="centered">
      <div class="name">
            <h2 id="usernameText" style="color:white" size=1000> Usuario: </h2>
      </div>
      <div id="wonGames">
        <h2 style="color:white" size=1000> Partidas ganadas: </h2>
      </div>
      <div id="playedGames">
        <h2 style="color:white" size=1000> Partidas jugadas: </h2>
      </div>
      <div id="wonTournaments">
        <h2 style="color:white" size=1000> Torneos ganados: </h2>
      </div>
      <div id="playedTournaments">
        <h2 style="color:white" size=1000> Torneos jugados: </h2>
      </div>
      <div id="elo" class="elo">
        <h2 style="color:white" size=1000> ELO: 🏆</h2> 
      </div>
      <div id="elo" class="elo">
        <h2 style="color:white" size=1000> Dinero: 🪙</h2>
      </div>
  </div>

  <div class="centered">
    <button class="buttonSlideA" (click)="router.navigate(['/history']);">
        <span>Historial</span>
    </button>
  </div>

  <div class="login">
    <form class="custom-form" method="post">
      <h1 style="color:white">Cambiar contraseña:</h1>
      <input
        type="text"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="Nueva contraseña"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="confirmNewPassword"
        name="confirmNewPassword"
        placeholder="Confirme la nueva contraseña"
        required="required"
      />
      <button type="submit" (click)="changePassword()">Cambiar contraseña</button>
    </form>
    
  </div>