<div style="text-align:center">
  <h1>
    <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200"
      (click)="router.navigate(['/mainMenu']);">
  </h1>
</div>

  <div class="centered">
      <div class="name">
        <h2 id="usernameText" style="color:white" size=1000> Usuario: </h2>
      </div>
      <div class="wonGames">
        <h2 id="wonGamesText" style="color:white" size=1000> Partidas ganadas: </h2>
      </div>
      <div id="playedGames">
        <h2 id="playedGamesText" style="color:white" size=1000> Partidas jugadas: </h2>
      </div>
      <div id="wonTournaments">
        <h2 id="wonTournamentsText" style="color:white" size=1000> Torneos ganados: </h2>
      </div>
      <div id="playedTournaments">
        <h2 id="playedTournamentsText" style="color:white" size=1000> Torneos jugados: </h2>
      </div>
      <div id="elo" class="elo">
        <h2 id="eloText" style="color:white" size=1000> ELO: </h2> 
      </div>
      <div id="money" class="money">
        <h2 id="moneyText" style="color:white" size=1000> Dinero: </h2>
      </div>
  </div>

  <div class="login">
    <form class="custom-form" method="post">
      <h1 style="color:white">Cambiar contraseña:</h1>
      <hr/>
      <input
        type="text"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="Nueva contraseña"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="confirmNewPassword"
        name="confirmNewPassword"
        placeholder="Confirme la nueva contraseña"
        required="required"
      />
      <button type="submit" (click)="changePassword()">Cambiar contraseña</button>
    </form>
    
  </div>

  <ul class="custom-form">
    <h1 style="color:white">Historial: </h1>
    <hr/>
    <table class="table table-striped">
    <tbody  class='match' *ngFor="let match of idList; let i = index">
      <tr>
      <th scope="row" class='name'>
        Vs. {{matchList[i]}}
      </th>
      <th scope="col">
        <button type="button" style="color:black" class="btn btn-warning">{{resultList[i]}}</button>
        
      </th>
    </tr>
    </tbody>
  </table>
  </ul>