.profile {
    width: 300px;
    height: 60px;
    background: #EEE;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
  }
   
.profile-box .name {
    width: 300px;
    height: 60px;
    background: #EEE;
    border-bottom: 1px solid #DDD;
    display: flex;
    align-items: center;
  }

.profile-box .elo {
    width: 45px;
    height: 45px;
    cursor: pointer;
    object-fit: cover;
    margin-left: auto; 
    margin-right: 2;
    display: flex;
    align-items: center;
  }