<div style="text-align:center">
  <h1>
    <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200"
      (click)="router.navigate(['/mainMenu']);">
  </h1>
</div>

  <div class="centered">
    <div class="profile">
      <div id="usernameText" class="name"></div>
      <div id="wonGames">Partidas ganadas: {{wonGames}}</div>
      <div id="playedGames">Partidas jugadas: {{playedGames}}</div>
      <div id="wonTournaments">Torneos ganados: {{wonTournaments}}</div>
      <div id="playedTournaments">Torneos jugados: {{playedTournaments}}</div>
      <div id="elo" class="elo">
        ELO: {{elo}} 🏆 
      </div>
      <div id="elo" class="elo">
        Dinero: {{money}} 🪙
      </div>
    </div>
  </div>

  <div class="left">
    <button class="buttonSlideA" (click)="router.navigate(['/history']);">
        <span>Normal</span>
    </button>
  </div>

  <div class="login">
    <form class="custom-form" method="post">
      <h1>Cambiar contraseña:</h1>
      <input
        type="text"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="Nueva contraseña"
        required="required"
      />
      <input
        type="text"
        [(ngModel)]="confirmNewPassword"
        name="confirmNewPassword"
        placeholder="Confirme la nueva contraseña"
        required="required"
      />
      <button type="submit" (click)="changePassword()">Cambiar contraseña</button>
    </form>
    
  </div>