<div style="text-align:center">
    <h1>
      <img src="../../assets/transparentLogo.png" alt="QueenChess_Logo" class="center" height="200" (click)="router.navigate(['/mainMenu']);">
    </h1>
  </div>

<div class="register">
    <form class="custom-form" method="post">
      <h1>Registro:</h1>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Correo"
        required="required"
      />
      <input
        type="user"
        [(ngModel)]="username"
        name="user"
        placeholder="Nombre de usuario"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="password"
        placeholder="Repita la contraseña"
        required="required"
      />
      <button type="submit" (click)="register()">Registrarme</button>
    </form>
  </div>